.idea/*
.idea/codeStyleSettings.xml
/composer.lock
/vendor/
coverage.xml
.phpunit.result.cache
/.php-cs-fixer.php
.php-cs-fixer.cache
.temp
*.swp
*.swo
.phpunit.cache
# Playwright
node_modules/
/tests/Browser/Screenshots
/tests/Browser/Tracing

# MacOS
.DS_Store
